@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 50, 20);
    top: 0;
    left: 0;
}

#side {
    position: fixed;
    top: 5vh;
    left: 70vw;
    height: 90vh;
    width: 25vw;
    background-color: white;
}

#game-board {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 60vw;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: none;
}

#car {
    width: 4%;
    height: 5%;
    position: relative;
    transform: rotate(-90deg);
}

#projectText {
    top: 10%;
    width: 80%;
    left: 10%;
    text-align: center;
    position: relative;
    font-size: 4vh;
    color:rgb(20, 50, 20);
    font-weight: 400;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
}

#projectTitle {
    top: 5%;
    width: 80%;
    left: 10%;
    text-align: center;
    position: relative;
    font-size: 10vh;
    color:rgb(20, 50, 20);
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.disc {
    width: 4%;
    height: 5%;
    position: relative;
}

.cell {
    width: 4%;
    height: 5%;
    cursor: pointer;
}

#go {
    visibility: hidden;
    position: relative;
    width: 60%;
    top: 35%;
    left: 20%;
}

#gopic {
    width: 60%;
}

#arrows {
    position: relative;
    width: 60%;
    top: 15%;
    left: 20%;
}

.background {
    position: fixed;
    width: 60%;
    height: 90%;
}

.flag {
    position: fixed;
    width: 2%;
    z-index: 1;
}

#flag1 {
    top: 19vh;
    left: 22vw;
}

#flag2 {
    top: 14vh;
    left: 39vw;
}

#flag3 {
    top: 23vh;
    left: 56vw;
}

#flag4 {
    top: 50vh;
    left: 48vw;
}

#flag5 {
    top: 46vh;
    left: 32vw;
}

#flag6 {
    top: 51vh;
    left: 15vw;
}

#flag7 {
    top: 77vh;
    left: 10vw;
}

#flag8 {
    top: 77vh;
    left: 27vw;
}

#flag9 {
    top: 81vh;
    left: 48vw;
}