a {
    padding: 2%;
    background-color:bisque;
    position:relative;
    width: 100px;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    color:rgb(56, 68, 116);
    border-radius: 25px;
}