body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 70, 20);
    top: 0;
    left: 0;
}

#game-board {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 60vw;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: none;
}

#car {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;

}

.cell {
    width: 4%;
    height: 5%;
    box-sizing: border-box;
    border: 1px solid black;
    cursor: pointer;
}